[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-environ = "*"
requests = "*"
numpy = "*"
pandas = "*"
scipy = "*"
fuzzywuzzy = "*"
scikit-learn = "*"
python-levenshtein = "*"
psycopg = "*"
psycopg2-binary = "*"
spotipy = "*"
matplotlib = "*"
collection = "*"
seaborn = "*"
install = "*"
opencv-python = "*"
deepface = "*"

[dev-packages]

[requires]
python_version = "3.8"
python_full_version = "3.8.5"
