{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/index.css">
    <link rel="icon" href="../static/images/icon.png">
    <title>nycu DIF music recommendation</title>
  </head>
  <body>
    <div class="topnav" id="navbar">
      <a class="active" href="{% url 'home' %}">nycu DIF</a>
      {% if request.session.username %}
        <a class="nav-link" href="{% url 'logout' %}"> Logout</a>
      {% else %}
        <a href="{% url 'login' %}">Login</a>
        <a href="{% url 'register' %}">Register</a>
      {% endif %}

      <div class="search-container">
      <form method="POST" action="{% url 'search'%}">
          {% csrf_token %}
          <input type="text" placeholder="Search.." name="string">
          <button type="submit"><i class="fa fa-search"></i></button>
      </form>
      </div>
    </div>

    <div class="footer">
      <div class="wave">
        <div class="wave1"></div>
        <div class="wave1"></div>
        <div class="wave1"></div>
      </div>
      <div class="footer-song"> 
        <div class="footer-song-name">Song name</div>
        <div class="footer-song-artist">Artist</div>
      </div>
      <div class="footer-icon {% if request.session.username %} with-sidenav {% endif %}">
        <i class="fa-solid fa-backward-step"></i>
        <i class="fa-regular fa-circle-play"></i>
        <i class="fa-solid fa-forward-step"></i>
      </div>
  </div>

  {% if request.session.username %}
  <div class="sidenav">
    <span> {{ user_id }}My favorite tracks </span>
    
    <div class="fav">
        {% if request.session.user_playlist %}
          {% for entry in request.session.user_playlist %}
            <form method="POST" action="{% url 'search'%}">
              {% csrf_token %}
              <input type="hidden" value="{{entry.song_title}}+{{entry.artist_name}}" name="string"/>
                <button type="submit"> {{ entry.song_title }} <p>{{ entry.artist_name }}</p> </button>
            </form>   
          {% endfor %}
        {% else %}
          <button ><p> You haven't added any songs yet.</p> </button>
        {% endif %}
        
    </div>
  </div>
  {% endif %}

    <div> 
      {% block content%}
      {% endblock %}
    </div>


    <script src="https://kit.fontawesome.com/93dece4cf2.js" crossorigin="anonymous"></script>
  </body>
</html>


<script>
  var acc = document.getElementsByClassName("accordion");
  var i;
  
  for (i = 0; i < acc.length; i++) {
    acc[i].addEventListener("click", function() {
      this.classList.toggle("active");
      var panel = this.nextElementSibling;
      if (panel.style.maxHeight) {
        panel.style.maxHeight = null;
      } else {
        panel.style.maxHeight = panel.scrollHeight + "px";
      } 
    });
  }
  </script>


