{% extends 'base.html'%}
{% load static %}

{% block content %}
<div class="main">  
    <div class="lr">
    <h1 class='title'>Login</h1>

    <form method="post">
        {% csrf_token %}
        <label for="username">Username:</label>
        <input type="text" name="username" id="username" required><br>
        <label for="password">Password:</label>
        <input type="password" name="password" id="password" required><br>
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        <button type="submit" class="btn">Login</button> 
    </form>
    
    </div>
</div>  

{% endblock %}
