{% extends 'base.html'%}
{% load static %}

{% block content %}
<div class="main {% if request.session.username %} with-sidenav {% endif %}">
    {% if request.session.username %}
      <br>
      <h1 style="font-size: 54px;">Hola, {{request.session.username}}!</h1>
        <br>
    {% endif %}
    <br>
    <div class="card">
          <h4 class="card-title">Emotion Test</h4>
          <span>
              <i class="fa-regular fa-face-smile fa-bounce"></i>
              <i class="fa-solid fa-face-sad-tear fa-fade"></i>
              <i class="fa-regular fa-face-angry fa-shake"></i>
              <i class="fa-solid fa-face-grin-squint fa-spin fa-spin-reverse"></i>
          </span>
          <p class="card-text">Create your personal emotion playlist.</p>
          <form method="post" enctype="multipart/form-data" action="{% url 'emo' %}">
              <div class="select-file">
                  <span>Select Image</span>
                  {% csrf_token %}
                  <input type="file" name="image">
              </div>
              <button class="upload" type="submit">Upload  <i class="fa-solid fa-circle-up"></i></button>
          </form>
    </div>
    <br>
    {% if request.session.username %}
      <div class="btn-group1">
        <span> Similar User </span>
        {% for x in '12345' %}
          <form method="post" action="{% url 'temp' %}">
            {% csrf_token %}
            <button style="width:150px" ><i class="fa-solid fa-user"></i><br>User {{x}}</button>
          </form>
        {% endfor %}
      </div>
    {% else %}
      </br></br></br></br>
      <a style="font-size: 30px; color: #363636; font-weight:bold;" href="{% url 'login' %}">Sign in to access more features!</a>
    {% endif %}
</div>

<script>
  // Display an alert if the error message is present
  {% if message %}
      alert("{{ message }}");
  {% endif %}
</script>
{% endblock %}
