{% extends 'base.html'%}
{% load static %}

{% block content %}
<div class="main">  
    <div class="lr">
    <h1 class='title'>Register</h1>


    <form method="POST">
        {% csrf_token %}
        {{form.as_p}}
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        <input type="submit" class="btn" name="Create User" value="Submit">
    </form>  
    </div>
</div>  

{% endblock %}
